@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
/* 
font-family: 'IBM Plex Sans', sans-serif;
*/

.menubar {
  padding-bottom: 0;
}

.signup-container {
  min-height: 100vh;
  background-color: #1f1f1f;
  background-image: url("../../assets/Waves/wave_dark.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}
.signbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 141px);
}

.signup-inner-container > form {
  width: 100%;
  max-width: 715px;
}

.signup-main-title {
  font-size: 30px;
  padding-top: 10px;
  display: flex;
  align-items: left;
  align-self: flex-start;
  flex-direction: column;
}

.signup-sub-title {
  text-align: left;
  font-size: 16px;
  padding: 10px 0 10px 0;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.error-message > p {
  margin: 0;
}

.error-message {
  font-size: 11px;
  display: flex;
  align-items: flex-end;
  color: red;
}

.signup-input-title {
  text-align: left;
  font-size: 16px;
  padding: 10px 0 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-input {
  background-color: transparent;
  border-radius: 10px;
  border: solid 1px #979797;
  color: white;
  height: 45px;
  width: 515px;
  font-size: 18px;
  padding: 0 24px;
}

.signup-input::placeholder {
  color: #979797;
  font-size: 16px;
  padding: 0;
}

.signup-button {
  background-color: #498e2c;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 15px;
  margin: 10px 0 10px 0;
}

.signup-button:hover {
  background-color: #376921;
}

#create-acc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

#reg {
  font-size: 15px;
}

.signup-footer {
  font-size: 12px;
}

/* Ipads & Tablets ----------- */
@media only screen and (min-width: 501px) and (max-width: 767px) {
  .signup-inner-container {
    width: 70%;
  }

  .signup-main-title {
    font-size: 20px;
  }

  .signup-sub-title {
    font-size: 14px;
  }

  .signup-input {
    width: 100%;
  }
}

/* Mobile Devices ----------- */
@media only screen and (min-width: 320px) and (max-width: 501px) {
  .menubar {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .signup-inner-container {
    width: 80%;
  }

  .signup-main-title {
    font-size: 20px;
  }

  .signup-sub-title {
    font-size: 12px;
  }

  .signup-input-title {
    font-size: 16px;
    margin-top: 10px;
  }

  .signup-input {
    font-size: 14px;
    height: 45px;
    width: 100%;
    max-width: 501px;
  }
}
