.chartz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.loaders {
  border: 16px solid rgba(243, 243, 243, 0.5); /* Light grey */
  border-top: 16px solid #138d08; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

