.Profile {
  font-family: "IBM Plex Sans", sans-serif;
}
.main-wrapper {
  background-image: url("../../assets/Waves/wave_light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: bottom;
  /* color: white; */
  font-family: "IBM Plex Sans", sans-serif;
}

.photo-box {
  border: black;
  display: grid;
  width: 200px;
  height: 200px;
  border: black 1px solid;
  border-radius: 50%;
  margin: 30px;
}

.username {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 26px;
  color: black;
  /* margin-bottom: 17px; */
  margin: 15px 0 15px 0;
}

.date-joined {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 26px;
  color: black;
  margin: 15px 0 40px 0;
}
/* 
.house {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
.div1 > form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 800px;
}

.headers {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 24px;
  color: black;
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  width: 800px;
  line-height: 26px;
  margin-bottom: 27px;
}

.InputBox {
  width: 700px;
  height: 55px;
  /* left: 515px;
  top: 500px; */
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: transparent;
  color: black;

  flex: 0 0 600px;
  margin-left: 10px;
}
input::placeholder {
  color: #979797;
  opacity: 1;
}

.Save-Button {
  width: 135px;
  height: 40px;
  color: white;
  background-color: green;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  margin: 10px 0 10px 0;
  align-self: flex-end;
  justify-items: right;
}

#msg {
  display: flex;
  font-size: 18px;
  margin: 1px 0 1px 0;
}

/* Responsive Design */
/* Laptops & Small Screens ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-wrapper {
    height: 100;
  }

  .photo-box {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
  }

  .username {
    font-size: 24px;
    font-weight: lighter;
  }

  .date-joined {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .div1 > form {
    width: 600px;
  }

  .headers {
    width: 600px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .InputBox {
    height: 45px;
    width: 600px;
    flex: 0 0 440px;
    font-size: 20px;
    margin-left: 10px;
  }
  .Save-Button {
    width: 20%;
    height: 39px;
    font-size: 20px;
    align-self: flex-end;
    justify-items: right;
    margin-top: 7px;
  }

  #msg {
    font-size: 16px;
  }
}

/* Ipads & Tablets ----------- */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .main-wrapper {
    height: 100;
  }

  .photo-box {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }

  .username {
    font-size: 21px;
    font-weight: lighter;
  }

  .date-joined {
    font-size: 21px;
    margin-bottom: 10px;
  }

  .div1 > form {
    width: 400px;
  }

  .headers {
    width: 400px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .InputBox {
    height: 45px;
    width: 300px;
    flex: 0 0 30px;
    font-size: 18px;
    margin-left: 10px;
  }
  .Save-Button {
    width: 30%;
    height: 35px;
    font-size: 15px;
    align-self: flex-end;
    justify-items: right;
    margin-top: 7px;
  }
}

/* Mobile Devices ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main-wrapper {
    height: 100;
  }

  .photo-box {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
  }

  .username {
    font-size: 17px;
  }

  .date-joined {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .div1 > form {
    width: 300px;
  }

  .headers {
    width: 300px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .InputBox {
    height: 35px;
    width: 300px;
    flex: 0 0 30px;
    font-size: 14px;
    margin-left: 10px;
  }
  .Save-Button {
    width: 30%;
    height: 35px;
    font-size: 15px;
    align-self: flex-end;
    justify-items: right;
    margin-top: 7px;
  }

  #msg {
    font-size: 12px;
  }
}
