@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
/* 
font-family: 'IBM Plex Sans', sans-serif;
*/

.profile_header {
  grid-column: 1/7;
}

.profile_bg {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.main_wrapper {
  /* color: white; */
  /* background-color: #1f1f1f;
  background-image: url("../../assets/Waves/wave_dark.svg"); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; */
  font-family: "IBM Plex Sans", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(11, 1fr);
  margin: 0 50px 0 110px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

/* .profile_menubar {
  width: 85%;
  padding-top: 0px;
  margin-top: 30px;
} */

.user_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 3;
}

.photo_box {
  padding-left: 100px;
}

#avatar {
  width: 160px;
  height: 160px;
}

#warning {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 15px 0;
  padding-left: 100px;
}

.username {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.date_joined {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
}

.form_boxes {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 10px 0;
}

.form_spacing {
  padding: 5px 0;
}

.headers {
  font-family: sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  white-space: nowrap;
}

.InputBox {
  width: 515px;
  height: 45px;
  font-size: 25px;
  border: 1px solid #979797;
  border-radius: 5px;
  background-color: transparent;
  margin-left: 10px;
}

.InputBox_p {
  width: 515px;
  height: 45px;
  color: #606060;
  border: 1px solid #979797;
  border-radius: 5px;
  background-color: #979797;
  margin-left: 10px;
  /* display: flex; */
  align-items: center;
  padding: 1px 2px;
}

#pass_placeholder {
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.pwd_bullet {
  padding: 0 20px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: inherit; */
}

input::placeholder {
  padding: 0 20px;
  font-size: 18px;
}

.Save_Button {
  width: 135px;
  height: 40px;
  color: white;
  background-color: green;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  margin: 10px 0 10px 0;
  align-self: flex-end;
  justify-items: right;
}

.Save_Button:hover {
  background-color: rgb(23, 112, 23);
}

.popup_modal {
  z-index: 100;
}

/* Responsive Design */

/* Laptops & Small Screens ----------- */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main_wrapper {
    height: 100vh;
  }

  .user_container {
    margin-left: -40px;
    grid-row: 3;
  }

  .photo_box {
    width: 140px;
    height: 140px;
  }

  .username {
    font-size: 24px;
    font-weight: lighter;
  }

  .date_joined {
    font-size: 24px;
    padding-bottom: 20px;
  }

  .headers {
    /* width: 600px; */
    font-size: 20px;
  }

  .InputBox {
    height: 45px;
    width: 60vw;
    flex: initial;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 50px;
  }

  .InputBox_p {
    height: 45px;
    width: 60vw;
    flex: initial;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 50px;
  }
  .Save_Button {
    width: 20%;
    height: 39px;
    font-size: 20px;
    align-self: flex-end;
    justify-items: right;
    margin-right: 50px;
  }
  .container1 {
    padding-left: 0px;
  }
  .photo_box {
    padding-left: 0px;
  }
}

@media only screen and (max-height: 820px) {
  .profile_bg {
    height: 820px;
  }
}

/* Ipads & Tablets ----------- */
@media only screen and (min-width: 541px) and (max-width: 768px) {
  .main_wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0 20px;
    padding-top: 10px;
    /* height: 100%; */
  }
  .user_container {
    margin-left: -50px;
    /* grid-row: 4; */
    margin-top: 70px;
  }
  .photo_box {
    width: 140px;
    height: 140px;
    /* margin-bottom: 20px; */
  }

  .username {
    font-size: 21px;
    font-weight: lighter;
  }

  .date_joined {
    font-size: 21px;
  }

  .headers {
    /* width: 400px; */
    font-size: 17px;
  }

  .InputBox {
    height: 45px;
    width: 60vw;
    flex: initial;
    font-size: 17px;
    margin-left: 10px;
  }

  .InputBox_p {
    height: 45px;
    width: 60vw;
    flex: initial;
    font-size: 18px;
    margin-left: 10px;
  }

  .Save_Button {
    width: 30%;
    height: 35px;
    font-size: 15px;
    align-self: flex-end;
    justify-items: right;
  }
}

/* Mobile Devices ----------- */
@media only screen and (max-width: 540px) {
  .main_wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0 20px;
    padding-top: 10px;
    /* height: 100; */
  }
  .user_container {
    /* margin-left: -50px; */
    /* grid-row: 4; */
    margin-top: 70px;
  }

  #avatar {
    width: 130px;
    height: 130px;
  }
  .photo_box {
    width: 130px;
    height: 130px;
    padding-left: 50px;
    /* margin-bottom: 20px; */
  }

  .username {
    font-size: 17px;
  }

  .date_joined {
    font-size: 17px;
  }

  .headers {
    /* width: 270px; */
    font-size: 14px;
  }

  .InputBox {
    height: 35px;
    width: 50vw;
    flex: initial;
    font-size: 14px;
    margin-left: 10px;
  }

  .InputBox_p {
    height: 35px;
    width: 50vw;
    flex: initial;
    font-size: 14px;
    margin-left: 10px;
  }

  .Save_Button {
    width: 30%;
    height: 35px;
    font-size: 15px;
    align-self: flex-end;
    justify-items: right;
    padding-top: 7px;
  }
  .container1 {
    margin: 20px 0 15px 0;
    padding-left: 50px;
  }
}
