.Profile {
  font-family: "IBM Plex Sans", sans-serif;
}
.main-wrapper {
  background-image: url(./../../assets/Waves/wave_light.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.photo-box {
  border: black;
  display: grid;
  width: 150px;
  height: 150px;
  border: black 1px solid;
  border-radius: 50%;
  margin: 30px;
}

.username {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: black;
  margin-bottom: 17px;
}

.date-joined {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: black;
  margin-bottom: 50px;
}
.house {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.div1 {
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}
.headers {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  color: black;
}

.name {
  /* font-family: ; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
}
.InputBox {
  width: 410px;
  height: 48px;
  left: 515px;
  top: 500px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: transparent;
  color: black;
}
.pw-input {
  width: 410px;
  height: 48px;
  left: 515px;
  top: 500px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: grey;
  color: black;
}
input::placeholder {
  color: #979797;
  opacity: 1;
}
.mobile {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
}
.email {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
}

.pw {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height */
}
.Save-Button {
  width: 133px;
  height: 40px;
  color: white;
  background-color: green;
  align-self: flex-end;
  justify-items: right;
  margin-top: 26px;
}

label.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  width: 485px;
  line-height: 26px;
  margin-bottom: 27px;
}

label.mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  width: 485px;
  line-height: 26px;
  margin-bottom: 27px;
}

label.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  width: 485px;
  line-height: 26px;
  margin-bottom: 27px;
}

label.pw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  width: 485px;
  line-height: 26px;
  margin-bottom: 27px;
}

input.name-input {
  height: 48px;
  flex: 0 0 350px;
  margin-left: 10px;
}

input.mobile-input {
  height: 48px;
  flex: 0 0 350px;
  margin-left: 10px;
}

input.email-input {
  height: 48px;
  flex: 0 0 350px;
  margin-left: 10px;
}

input.pw-input {
  height: 48px;
  flex: 0 0 350px;
  margin-left: 10px;
}

@media screen and (min-width: 500px) {
}

@media screen and (min-height: 771px) {
  /* .main-wrapper {
    height: max-content;
  } */
  form {
    height: auto;
    width: auto;
  }
}
