@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins&family=Red+Hat+Display&display=swap");
/* 
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Display', sans-serif;
*/

.landingPage {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  background: linear-gradient(#d6e5ef, #ffe8c4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

/* Fourth page for Home page */
#four {
  background-image: url("./Media/first.svg");
  /* Center and scale the image nicely */
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

/* Third page for Home page */
#three {
  background-image: url("./Media/second.svg");
  /* Center and scale the image nicely */
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Second page for Home page */
#two {
  background-image: url("./Media/third.svg");
  /* Center and scale the image nicely */
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
}

/* First page for Home page */
#one {
  background-image: url("./Media/fourth.svg");
  /* Center and scale the image nicely */
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(100vh - 75px);
}

/* Landing page sections ------------------------ */

/* Buttons */
.lpage-btn {
  background: linear-gradient(-45deg, #498e2c, #2db676, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  width: fit-content;
  height: fit-content;
  padding: 15px 50px;
  border-radius: 10px;
}

.lpage-btn:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.lpage-btn > a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 22px;
}

.lpage-btn > a:hover {
  color: white;
  font-weight: bold;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Section by section ----------------- */
.fourth,
.third,
.second,
.first {
  width: 70%;
}

.align {
  margin-left: 5%;
}

/* TOP */
.fourth-title {
  font-family: "Poppins", sans-serif;
  font-size: 72px;
  font-weight: bold;
}

.fourth-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  margin: 10px 0 30px 0;
  font-weight: 400;
  font-style: normal;
}

.dboard-img {
  width: 50%;
  padding: 20px 0 20px 50px;
}

/* SECOND */
.second,
.third {
  margin-top: 50px;
}

.second-subtitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

/* BOTTOM */
.lpage-one {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.first {
  display: flex;
  height: calc(100% - 75px);
  flex-direction: column;
  justify-content: center;
}

.first-title,
.second-title,
.third-title {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 108px;
}

.first-subtitle,
.third-subtitle {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 4.5rem;
}

.first-btn {
  margin-top: 30px;
}

/* FOOTER */

.home-footer {
  background-color: #1f1f1f;
  font-size: 1rem;
  position: static;
  bottom: 0;
  line-height: 75px;
}

/* Coin Animation */

.coin-logo {
  height: 200px;
  pointer-events: none;
  transform: scaleX(-1);
}

.coin-logo1 {
  width: 200px;
  height: auto;
  pointer-events: none;
}

.coins {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  height: 300px;
}

.coin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.coin2 {
  justify-content: flex-end;
}

.shadow {
  animation: scaling 2.6s infinite ease-in-out;
}

.shadow {
  position: relative;
  left: 20px;
  top: 40px;
  background: rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 160px;
  animation: scaling 2.6s infinite;
  border-radius: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .coin-logo1 {
    animation: coin-logo-bounce 2.6s infinite ease-in-out;
  }
  .coin-logo {
    animation: coin-logo-bounce 2.6s infinite ease-in-out;
  }
}

@keyframes coin-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes coin-logo-bounce {
  20% {
    animation-timing-function: ease-out;
    transform: translateY(-60px);
  }

  50% {
    animation-timing-function: ease-out;
    transform: translateY(-80px);
  }
}

@keyframes scaling {
  20% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(0.5);
  }
}

/* Responsive Design */
/* Desktop & Large Screen ----------- */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* TOP */
  .fourth-title {
    font-size: 52px;
  }

  .fourth-subtitle {
    font-size: 26px;
    margin: 5px 0 30px 0;
  }

  /* SECOND */
  .second-subtitle {
    font-size: 24px;
    line-height: 32px;
  }

  .first-title,
  .second-title,
  .third-title {
    font-size: 42px;
    line-height: 100px;
  }

  .first-subtitle,
  .third-subtitle {
    font-size: 32px;
    line-height: 42px;
  }

  .coin-logo {
    height: 120px;
  }

  .coin-logo1 {
    width: 120px;
  }

  .coins {
    margin-top: 80px;
    height: 200px;
  }

  .coin {
    padding: 0 10px;
  }

  .shadow {
    left: 15px;
    top: 20px;
    height: 20px;
    width: 95px;
  }

  .lpage-btn {
    padding: 15px 40px;
  }

  .lpage-btn > a {
    font-size: 26px;
  }

  .home-footer {
    font-size: 16px;
    line-height: 62px;
  }
}

/* Laptops & Small Screens ----------- */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* TOP */
  .fourth-title {
    font-size: 36px;
  }

  .fourth-subtitle {
    font-size: 18px;
    margin: 5px 0 20px 0;
  }

  /* SECOND */
  .second-subtitle {
    font-size: 20px;
    line-height: 32px;
  }

  .first-title,
  .second-title,
  .third-title {
    font-size: 34px;
    line-height: 52px;
  }

  .first-subtitle,
  .third-subtitle {
    font-size: 24px;
    line-height: 32px;
  }

  .coin-logo {
    height: 100px;
  }

  .coin-logo1 {
    width: 100px;
  }

  .coins {
    margin-top: 80px;
    height: 150px;
  }

  .coin {
    padding: 0 10px;
  }

  .shadow {
    left: 15px;
    top: 20px;
    height: 20px;
    width: 75px;
  }

  .lpage-btn {
    padding: 10px 20px;
  }

  .lpage-btn > a {
    font-size: 16px;
  }

  .home-footer {
    font-size: 14px;
    line-height: 50px;
  }
}

/* Ipads & Tablets ----------- */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #one,
  #two,
  #three,
  #four {
    background: none;
  }

  .page-color {
    background: linear-gradient(#d6e5ef, #ffe8c4);
  }

  .landingPage {
    background: url("./Media/mobile-tab-bg.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 50%;
  }

  /* TOP */
  .fourth-title {
    font-size: 34px;
  }

  .fourth-subtitle {
    font-size: 18px;
    margin: 5px 0 20px 0;
  }

  /* SECOND */
  .second-subtitle {
    font-size: 18px;
    line-height: 32px;
  }

  .first-title,
  .second-title,
  .third-title {
    font-size: 32px;
    line-height: 52px;
  }

  .first-subtitle,
  .third-subtitle {
    font-size: 24px;
    line-height: 32px;
  }

  .coin-logo {
    height: 80px;
  }

  .coin-logo1 {
    width: 80px;
  }

  .coins {
    margin-top: 80px;
    height: 120px;
  }

  .coin {
    padding: 0 8px;
  }

  .shadow {
    left: 15px;
    top: 0;
    height: 10px;
    width: 55px;
  }

  .lpage-btn {
    padding: 10px 20px;
  }

  .lpage-btn > a {
    font-size: 16px;
  }

  .home-footer {
    font-size: 12px;
    line-height: 50px;
  }
}

/* Mobile Devices ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #one,
  #two,
  #three,
  #four {
    background: none;
  }

  #two {
    width: 90%;
  }

  .page-color {
    background: linear-gradient(#d6e5ef, #ffe8c4);
  }

  .landingPage {
    background: url("./Media/mobile-tab-bg.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 60%;
  }

  /* TOP */
  .fourth-title {
    font-size: 34px;
  }

  .fourth-subtitle {
    font-size: 18px;
    margin: 5px 0 20px 0;
  }

  /* SECOND */
  .second-subtitle {
    font-size: 22px;
    line-height: 32px;
  }

  .first-title,
  .second-title,
  .third-title {
    font-size: 32px;
    line-height: 52px;
  }

  .first-subtitle,
  .third-subtitle {
    font-size: 20px;
    line-height: 32px;
  }

  .coin-logo {
    height: 80px;
  }

  .coin-logo1 {
    width: 80px;
  }

  .coins {
    margin-top: 50px;
    height: 200px;
  }

  .coin {
    padding: 0 8px;
  }

  .shadow {
    left: 15px;
    top: 0;
    height: 10px;
    width: 55px;
  }

  .dboard-img {
    width: 80%;
    padding: 20px 0 20px 10px;
  }

  .lpage-btn {
    padding: 10px 20px;
  }

  .lpage-btn > a {
    font-size: 16px;
  }

  .home-footer {
    font-size: 12px;
    line-height: 50px;
  }
}

@media only screen and (height: 1180px) and (width: 820px) {
  #one,
  #two,
  #three,
  #four {
    background: none;
  }

  .page-color {
    background: linear-gradient(#d6e5ef, #ffe8c4);
  }

  .landingPage {
    background: url("./Media/mobile-tab-bg.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  /* TOP */
  .fourth-title {
    font-size: 47px;
  }

  .fourth-subtitle {
    font-size: 24px;
    margin: 5px 0 30px 0;
  }

  /* SECOND */
  .second-subtitle {
    font-size: 24px;
    line-height: 32px;
  }

  .first-title,
  .second-title,
  .third-title {
    font-size: 42px;
    line-height: 100px;
  }

  .first-subtitle,
  .third-subtitle {
    font-size: 32px;
    line-height: 42px;
  }

  .coin-logo {
    height: 120px;
  }

  .coin-logo1 {
    width: 120px;
  }

  .coins {
    margin-top: 80px;
    height: 200px;
  }

  .coin {
    padding: 0 10px;
  }

  .shadow {
    left: 15px;
    top: 20px;
    height: 20px;
    width: 95px;
  }

  .lpage-btn {
    padding: 15px 40px;
  }

  .lpage-btn > a {
    font-size: 26px;
  }

  .home-footer {
    font-size: 16px;
    line-height: 62px;
  }
}

@media only screen and (height: 1368px) and (width: 912px) {
  #one,
  #two,
  #three,
  #four {
    background: none;
  }

  .page-color {
    background: linear-gradient(#d6e5ef, #ffe8c4);
  }

  .landingPage {
    background: url("./Media/mobile-tab-bg.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 40%;
  }

  /* TOP */
  .fourth-title {
    font-size: 47px;
  }

  .fourth-subtitle {
    font-size: 24px;
    margin: 5px 0 30px 0;
  }

  /* SECOND */
  .second-subtitle {
    font-size: 24px;
    line-height: 32px;
  }

  .first-title,
  .second-title,
  .third-title {
    font-size: 42px;
    line-height: 100px;
  }

  .first-subtitle,
  .third-subtitle {
    font-size: 32px;
    line-height: 42px;
  }

  .coin-logo {
    height: 120px;
  }

  .coin-logo1 {
    width: 120px;
  }

  .coins {
    margin-top: 80px;
    height: 200px;
  }

  .coin {
    padding: 0 10px;
  }

  .shadow {
    left: 15px;
    top: 20px;
    height: 20px;
    width: 95px;
  }

  .lpage-btn {
    padding: 15px 40px;
  }

  .lpage-btn > a {
    font-size: 26px;
  }

  .home-footer {
    font-size: 16px;
    line-height: 62px;
  }
}
