@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins&family=Red+Hat+Display&display=swap");
/* 
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Display', sans-serif;
*/

.popup {
  position: absolute;
  top: 20vh;
  left: 30vw;
  width: 40vw;
  font-family: "Red Hat Display", sans-serif;
  z-index: 100;
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.title {
  margin-bottom: 30px;
  color: black !important;
}

.pwd_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pwdTitle {
  font-size: 16px;
  margin-bottom: 10px;
  color: black !important;
  width: 60%;
}

.err_msg {
  font-size: 11px;
  color: red;
  padding-bottom: 5px;
}

.pwdInputArea {
  margin-bottom: 10px;
  line-height: 40px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid #292929;
  padding: 0 20px;
}

.pwdInputArea::placeholder {
  font-size: 14px;
  padding: 0px;
}

.pwd_btn {
  height: 45px;
  color: white;
  background-color: green;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  padding: 0 20px;
}

.pwd_btn:hover {
  background-color: rgb(7, 116, 7);
}

.line {
  width: 85%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 20px 0;
}

.cancel_btn {
  color: gray;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-right: 10px;
}

.cancel_btn:hover {
  color: red;
}

@media only screen and (max-width: 600px) {
  .popup {
    left: 20vw;
  }
}

@media only screen and (max-width: 340px) {
  .popup {
    left: 10vw;
  }
}
