
.nav-text:hover {
  font-weight: 900;
  transform: scale(1.1);
}

.nav-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-subtitle {
  font-size: 1rem;
}

.logo-size {
  width: 40px;
  height: 40px;
  margin: 0 5px 0 10px;
}

.divider {
  height: 1rem;
  border-left: 1px solid white;
  padding: 0 7px;
  margin-left: 5px;
  align-self: center;
}
