@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins&family=Red+Hat+Display&display=swap");
/* 
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Display', sans-serif;
*/

.landingPage {
  scroll-snap-type: y mandatory;
  color: white;
  background-color: #001127;
  margin: 0;
  padding: 0;
}

.crypto_news {
  width: 40vw;
}

/* news widget */
iframe {
  width: 100%;
  height: 325px;
}

section {
  display: flex;
  align-items: center;
}

.title {
  width: 40vw;
  /* margin-left: 50px; */
}

.top_part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("./Media/gridlines.png");
  background-position-x: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.second_part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.third_part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourth_part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: url("./Media/lines.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.last_part {
  display: flex;
  flex-direction: column;
}

.news_title {
  margin-bottom: 50px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first_feature,
.second_feature,
.third_feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* TEXT STYLING */
.main_title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.subtitle {
  color: #7ed957;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 400;
}

.feature_section {
  font-size: 48px;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 50px;
}

.feature_title {
  font-size: 28px;
  font-family: "Red Hat Display", sans-serif;
  margin-bottom: 20px;
}

.description {
  font-size: 24px;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 42px;
  color: #4bcc13;
}

.feature_one,
.feature_two,
.feature_three {
  width: 30vw;
}

.feature_two {
  width: 30vw;
}

/* ILLUSTRATION STYLING */
.illustration_one {
  height: 800px;
  margin-top: 150px;
}

.dboard_img {
  padding-left: 10vw;
  height: 50vh;
}

.rocket_img {
  padding-left: 10vw;
  height: 60vh;
}

.profit_loss_img {
  padding-right: 10vw;
  height: 50vh;
}

.guy_img {
  width: 65vh;
}

.github_link {
  height: 25px;
  box-shadow: 0px 2px 4px rgba(54, 54, 54, 0.2);
  position: fixed;
  bottom: 25px;
  right: 25px;
}

/* Buttons */
.lpage_btn {
  background: linear-gradient(-45deg, #498e2c, #2db676, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  width: fit-content;
  height: fit-content;
  padding: 15px 50px;
  border-radius: 10px;
  border: none;
}

.lpage_btn:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.lpage_btn > a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 22px;
}

.lpage_btn > a:hover {
  color: white;
  font-weight: bold;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* FOOTER */

.home_footer {
  color: white;
  font-size: 1rem;
  position: static;
  bottom: 0;
  line-height: 75px;
}

/* Coin Animation */

.coin_logo {
  height: 150px;
  pointer-events: none;
  transform: scaleX(-1);
}

.coin_logo1 {
  width: 200px;
  height: auto;
  pointer-events: none;
}

.coins {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-right: 8vw;
}

.coin {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 -20px;
}

.coin2 {
  justify-content: flex-start;
}

.shadow {
  animation: scaling 2.6s infinite ease-in-out;
}

.shadow {
  position: relative;
  left: 20px;
  top: 40px;
  background: rgba(255, 255, 255, 0.2);
  height: 30px;
  width: 160px;
  animation: scaling 2.6s infinite;
  border-radius: 100%;
  justify-content: left;
}

.shadow1 {
  width: 120px;
}

@media (prefers-reduced-motion: no-preference) {
  .coin_logo1 {
    animation: coin-logo-bounce 2.6s infinite ease-in-out;
  }
  .coin_logo {
    animation: coin-logo-bounce 2.6s infinite ease-in-out;
  }
}

@keyframes coin-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes coin-logo-bounce {
  20% {
    animation-timing-function: ease-out;
    transform: translateY(-60px);
  }

  50% {
    animation-timing-function: ease-out;
    transform: translateY(-80px);
  }
}

@keyframes scaling {
  20% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(0.5);
  }
}

/* Responsive designs */
/* Large screen max-width 1244px */
@media only screen and (max-width: 1240px) {
  .main_title {
    text-size-adjust: inherit;
  }

  /* first section */
  .illustration_one {
    height: 700px;
    width: auto;
  }

  /* third section */
  .description {
    width: 100%;
  }
  .dboard_img,
  .rocket_img,
  .profit_loss_img {
    width: 45%;
    height: auto;
  }

  .features {
    padding: 0 50px;
  }

  .feature_one,
  .feature_three {
    width: auto;
    padding-left: 5%;
  }
  .feature_two {
    width: auto;
    padding-right: 5%;
  }

  /* fourth sec */
  .guy_img {
    width: 50%;
    height: auto;
  }
  .lpage_btn > a {
    text-size-adjust: inherit;
    font-weight: normal;
    font-size: auto;
  }
}

@media only screen and (max-width: 940px) {
  /* first sec */
  .main_title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 20px;
  }

  .second_part {
    height: 70vh;
  }

  .fourth_part {
    height: 70vh;
  }
  .features {
    padding: 0 50px;
  }

  .illustration_one {
    height: 500px;
    width: auto;
  }

  .lpage_btn {
    padding: 10px 30px;
    font-size: 18px;
  }

  .dboard_img,
  .rocket_img,
  .profit_loss_img {
    width: 40%;
    height: auto;
  }

  .feature_title {
    font-size: 24px;
  }

  .description {
    font-size: 20px;
    width: 90%;
  }

  .coin_logo {
    width: 120px;
    height: auto;
  }

  .coin_logo1 {
    width: 180px;
    height: auto;
  }

  .shadow {
    width: 80%;
    margin: 0 -5px;
  }
}

@media only screen and (max-width: 736px) {
  /* shared */
  .lpage_btn {
    padding: 10px 20px;
  }

  .lpage_btn > a {
    font-size: 18px;
  }

  .main_title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .subtitle {
    margin-bottom: 10px;
  }

  .illustration_one {
    height: 380px;
    width: auto;
  }

  /* second section screen max 736*/
  .top_part {
    gap: 50px;
  }

  .second_part {
    flex-direction: column;
    margin-top: 200px;
    gap: 100px;
  }
  .crypto_news {
    text-align: center;
    width: 90vw;
    margin-bottom: 10%;
  }
  .coins {
    margin-right: 0;
  }
  .coin {
    margin: 0 -10px;
  }
  /* eth */
  .coin_logo {
    width: 150px;
    height: auto;
  }
  /* btc & aave */
  .coin_logo1 {
    width: 200px;
    height: auto;
  }
  /* shadows */
  .shadow {
    width: 90%;
    margin: 0 -10px;
  }

  /* third sect */
  .description {
    font-size: 100%;
    line-height: 30px;
  }
  .feature_title {
    font-size: 20px;
  }
  .dboard_img,
  .rocket_img {
    width: 50%;
    height: auto;
    padding-left: 5vw;
  }
  .profit_loss_img {
    width: 50%;
    height: auto;
    padding-right: 5vw;
  }

  /* fourth sect */
  .fourth_part {
    height: 100vh;
  }

  .third_part {
    margin-top: 250px;
  }
}

/* 600px and smaller */
@media only screen and (max-width: 600px) {
  /* first sec */
  .top_part {
    flex-direction: column-reverse;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .illustration_one {
    margin-top: 50px;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-top: -10%;
  }

  .main_title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* second section */
  /* eth */
  .coin_logo {
    width: 120px;
    height: auto;
  }
  /* btc & aave */
  .coin_logo1 {
    width: 180px;
    height: auto;
  }
  /* shadows */
  .shadow {
    width: 90%;
  }

  /* fourth sect */
  .fourth_part {
    flex-direction: column;
    background-position: top;
  }
  .last_part {
    text-align: center;
  }

  /* NEEDED IN PROD */
  .last_part {
    align-items: center;
  }
}

/* 510px and smaller */
@media only screen and (max-width: 510px) {
  .illustration_one {
    margin-top: 0;
  }

  .features {
    gap: 50px;
    padding: 0;
  }

  .third_part,
  .fourth_part {
    margin-top: 50px;
  }

  /* second section */
  /* eth */
  .coin_logo {
    width: 100px;
    height: auto;
  }
  /* btc & aave */
  .coin_logo1 {
    width: 150px;
    height: auto;
  }
  /* shadows */
  .shadow {
    width: 100%;
  }

  .description {
    width: 90%;
  }
}

@media only screen and (max-width: 416px) {
  /* first section */
  .illustration_one {
    height: 400px;
    width: auto;
  }

  .subtitle {
    width: 90%;
    text-align: center;
  }

  .shadow {
    width: 85%;
  }

  .features {
    gap: 40px;
  }

  .feature_one,
  .feature_two,
  .feature_three {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .description {
    text-align: center;
  }

  .dboard_img,
  .rocket_img,
  .profit_loss_img {
    width: 300px;
    height: auto;
  }

  .first_feature,
  .third_feature {
    flex-direction: column-reverse;
  }
  .second_feature {
    flex-direction: column;
  }

  .third_part {
    margin-top: 200px;
  }

  .fourth_part {
    background-position: top;
    height: 60vh;
  }
}

@media only screen and (max-width: 350px) {
  .landingPage {
    width: calc(100vw + 35px);
  }

  .subtitle {
    width: 90%;
    text-align: center;
  }
  /* first section */
  .illustration_one {
    height: 300px;
    width: auto;
  }

  /* second section */
  /* eth */
  .coin_logo {
    width: 90px;
    height: auto;
  }
  /* btc & aave */
  .coin_logo1 {
    width: 120px;
    height: auto;
  }
  /* shadows */
  .shadow {
    width: 80%;
  }
  .home_footer {
    font-size: 12px;
  }
}
