.market-layout {
  color: black;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-gap: 10px;
  margin-left: 60px;
  height: 100vh;
  background-color: black;
}

.box {
  background-color: darkgray;
  border: 5px black;
  border-radius: 20px;
}

.header-section {
  grid-column: 1/7;
  grid-row: 1;
}

.title-section {
  grid-column: 1/7;
  grid-row: 2;
}

.graph-section {
  grid-column: 1/5;
  grid-row: 3/8;
}

.buysell-section {
  grid-column: 5/7;
  grid-row: 3/7;
}

.gain-section {
  grid-column: 1/7;
  grid-row: 8/10;
}

.loss-section {
  grid-column: 1/7;
  grid-row: 10/12;
}
