/* Market list */

.coin-market {
  background-color: black;
  width: 40%;
}

/* Top Area */

.list-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin-search {
  width: 90%;
}
.search-input {
  height: 3vh;
  width: 60%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coin-close {
  width: 10%;
  color: white;
}

.close-button {
  float: right;
  background-color: aqua;
}

/* Crypto Marketlist display */

.coin-table {
  width: 100%;
}

/* th {
  text-align: center;
  border-bottom: 1px solid aqua;
  color: aqua;
  width: 25%;
} */

.list-row > td {
  text-align: center;
  color: beige;
  /* width: 25%; */
}

/* tr td:hover {
  color: black;
} */

.table-body tr:hover {
  background-color: dimgray;
}

.table-header {
  width: 98.7%;
  display: inline-table;
}

.table-body {
  width: 100%;
  display: inline-table;
}

.coin-market {
  position: absolute;
  z-index: 999999;
}

.coin-list {
  height: 35vh;
  overflow-y: scroll;
  width: 100%;
  color: beige;
}

.marketBG {
  background-color: #1f1f1f;
  background-image: url("../../assets/DashboardAsset/Wave\ \(Dark\).svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}

.market-layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-gap: 25px;
  margin: 0 50px 0 110px;
  height: 100vh;
  overflow: hidden;
}

.box {
  background-color: darkgray;
  border: 5px black;
  border-radius: 20px;
}

.market-bar-section {
  grid-column: 1/7;
  grid-row: 1;
}

.title-section {
  grid-column: 6/7;
  grid-row: 2;
}

.graph-section {
  grid-column: 1/5;
  grid-row: 2/8;
}

.buysell-section {
  grid-column: 5/7;
  grid-row: 3/7;
}

.gain-section {
  grid-column: 2/6;
  grid-row: 8/10;
  margin-top: 20px;
}

.gain-title {
  font-size: 18px;
  margin: 0;
  padding: 10px 0 5px 0;
}

.loss-section {
  grid-column: 2/6;
  grid-row: 10/12;
  margin-top: -10px;
}

.loss-title {
  font-size: 18px;
  margin: 0;
  padding: 10px 0 5px 0;
}

.image {
  height: 20px;
  width: 20px;
}

.cryptoName {
  font-size: 16px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

/* @media only screen and (max-height: 852px) {
  .marketBG {
    background-attachment: fixed;
    height: 1000px;
  }
  .market-layout {
    overflow: visible;
  }
} */

@media only screen and (max-width: 768px) {
  .marketBG {
    height: 100%;
  }
  .market-layout {
    display: flex;
    flex-direction: column;
    margin: 0px 15px 0 15px;
    padding-top: 10px;
    height: 100%;
  }
  .gain-section {
    padding: 0 25px;
    display: none;
  }
  .loss-section {
    padding: 0 25px;
    display: none;
  }
}
