.marketBG {
  background-color: #1f1f1f;
  background-image: url("../../assets/DashboardAsset/Wave\ \(Dark\).svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.market-layout {
  color: white;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-gap: 25px;
  margin: 0 40px 0 100px;
  height: 100vh;
}

.box {
  background-color: darkgray;
  border: 5px black;
  border-radius: 20px;
}

.header-section {
  grid-column: 1/7;
  grid-row: 1;
  border: 3px black;
  border-radius: 7px;
  columns: 2;
  align-self: center;
  justify-content: space-between;
  padding-top: 15px;
}

.MarketLogo {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
}

.MarketHead {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  padding: 5px 0 0 25px;
}

.market-icon-head {
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 0 0;
}

.market-icon-text {
  padding: 5px;
}

.market-icon-pads {
  padding: 0 10px;
}

.title-section {
  grid-column: 1/7;
  grid-row: 2;
}

.graph-section {
  grid-column: 1/5;
  grid-row: 3/8;
}

.buysell-section {
  grid-column: 5/7;
  grid-row: 3/7;
}

.gain-section {
  grid-column: 2/6;
  grid-row: 8/10;
}

.gain-title {
  font-size: 18px;
  margin: 0;
  padding: 10px 0 5px 0;
}

.loss-section {
  grid-column: 2/6;
  grid-row: 10/12;
}

.loss-title {
  font-size: 18px;
  margin: 0;
  padding: 10px 0 5px 0;
}

.slick-prev:before {
  content: "";
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.slick-next:before {
  content: "";
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
