@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins&family=Red+Hat+Display&display=swap");
/* 
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Display', sans-serif;
*/

.Amountbox {
  display: "block";
  direction: "column";
  align-items: "center";
  justify-content: "center";
}

.Walletbox {
  background-image: url("../../assets/DashboardAsset/Wave\ \(Dark\).svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.Deposit {
  background-color: white;
  position: "absolute";
  width: 1200;
  border: "2px solid #000";
  box-shadow: 24;
  padding: 4;
  overflow: "auto";
}

.Withdrawal {
  background-color: aqua;
  position: "absolute";
  transform: "translate(-50%, -50%)";
  height: 200;
  width: 1200;
  border: "2px solid #000";
  box-shadow: 24;
  padding: 4;
  overflow: "auto";
}

.Transfer {
  background-color: blueviolet;
  position: "absolute";
  transform: "translate(-50%, -50%)";
  height: 200;
  width: 1200;
  border: "2px solid #000";
  box-shadow: 24;
  padding: 4;
  overflow: "auto";
}

.DashBG {
  background-color: #1f1f1f;
  background-image: url("../../assets/DashboardAsset/Wave\ \(Dark\).svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}

.Layout {
  color: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(11, 1fr);
  /* grid-auto-rows: minmax(50px, 80px); */
  grid-gap: 25px;
  margin: 0 50px 0 110px;
  height: 100vh;
  overflow: hidden;
}

.box {
  background-color: white;
  border: 3px black;
  border-radius: 20px;
  opacity: 0.1;
}

.dash-top {
  grid-column: 1/8;
  grid-row: 1;
  margin-bottom: -15px;
}

.BoughtAssets {
  grid-row: 2/4;
  grid-column: 1/6;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #010023;
  padding: 0px 30px 0px 30px;
}

.b-title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 10px 0 10px 0;
}

/* .wrap {
  width: 100%;
} */

/* Dark Mode */
.Profile {
  grid-column: 6/8;
  grid-row: 2/4;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #010023;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 250px;
}

#prof-bal {
  font-size: 1.25em;
  font-weight: 700;
}

/* #prof-head {
  margin-bottom: 5px;
} */

.p3 {
  padding-top: 5px;
}

#prof-head {
  font-weight: bold;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.125em;
  margin-block-start: 0.5rem;
  margin-block-end: 0.3rem;
}

#prof-text {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.profile-details-box {
  height: 100%;
}

.profile-details {
  padding: 5px 0 0 30px;
  font-size: 1em;
}

.profile-details > p {
  margin: 0;
  padding-bottom: 2px;
  font-family: "Red Hat Display", sans-serif;
}

.profile-avatar {
  padding: 25px 30px 0 25px;
  box-sizing: border-box;
}

.LiveCharts-header {
  font-family: "Red Hat Display", sans-serif;
  grid-column: 1/6;
  grid-row: 4;
  padding: 0px;
  color: white;
  font-size: 16px;
  margin-top: -10px;
}

.LiveCharts {
  grid-column: 1/6;
  grid-row: 4/9;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #010023;
  padding: 0px 0 0px 30px;
  margin-top: 25px;
  height: 400px;
}

.Wallet {
  grid-column: 6/8;
  grid-row: 4/5;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #010023;
  padding: 0px 0 0px 30px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.w-value {
  width: 75%;
  line-height: 0.8;
  font-size: 14px;
  font-family: "Red Hat Display", sans-serif;
}

#wal-bal {
  margin-block-start: 0em;
  margin-block-end: 0.67em;
}

.w-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  margin-right: 15px;
}

.Chart {
  font-family: "Red Hat Display", sans-serif;
  grid-column: 6/8;
  grid-row: 5/9;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #010023;
  display: grid;
  grid-template-rows: auto auto auto;
  padding-left: 30px;
  height: 298px;
}

.c-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c-top-title {
  padding-top: 5px;
  line-height: 0.7;
  /* width: 50%; */
}

#c-title {
  font-size: 14px;
}
#c-subtitle {
  font-size: 10px;
}
.c-top-dropdown {
  padding: 10px 20px 0 15px;
  /* width: 40%; */
  box-sizing: border-box;
}

.c-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#donut {
  width: 180px;
  height: 100%;
}

.c-bot {
  font-size: 12px;
  width: 90%;
}

#c-footer {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.Table-header {
  font-family: "Red Hat Display", sans-serif;
  grid-column: 1/6;
  grid-row: 8;
  padding: 0px;
  color: white;
  font-size: 16px;
  margin-top: 40px;
}

.Table {
  grid-column: 1/8;
  grid-row: 9/12;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  padding: 0px 0 0px 0px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  /* height: 200px !important; */
}

/* Responsive Design */
@media only screen and (min-width: 1501px) {
  .Table-header {
    margin-top: 40px;
  }
}

@media only screen and (max-height: 852px) {
  .DashBG {
    background-attachment: fixed;
    height: 1000px;
  }
  .Layout {
    overflow: visible;
  }
  .Table {
    margin-top: -10px;
    height: 200px;
  }
}
@media only screen and (max-height: 852px) and (max-width: 768px) {
  .Table {
    height: 100%;
  }
}

/* Laptop Fullscreen until 1024px ----------- */
@media only screen and (min-width: 1500px) and (max-width: 1720px) {
  #prof-bal {
    font-size: 1.125rem;
  }
  #prof-head {
    font-size: 1rem;
  }
  .profile-details {
    font-size: 0.8125rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1500px) {
  .profile-details {
    padding: 5px 0 0 30px;
    line-height: 14px;
    font-size: 0.8125em;
  }
  .Layout {
    height: 100%;
    /* grid-template-rows: 60px; */
  }
  .Table-header {
    margin-bottom: -30px;
  }

  #donut {
    width: 150px;
    height: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1350px) {
  #c-title {
    font-size: 0.8125em;
    line-height: 1.5;
    margin-block-start: 0.5em;
    margin-block-end: 0.2em;
  }
  #c-subtitle {
    margin-block-start: 0.3em;
    margin-block-end: 0.2em;
    line-height: 1.3;
  }

  #wal-bal {
    margin-block-start: 0em;
    margin-block-end: 0.67em;
    font-size: 1.7em;
  }

  #prof-head {
    font-weight: bold;
    font-size: 1.3em;
    margin-block-start: 0.6em;
    margin-block-end: 0.67em;
  }
  #prof-bal {
    font-size: 1.3em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  /* #prof-text {
    font-size: 0.8125em;
  } */
  .c-top-dropdown {
    padding: 10px 0px 0 0px;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 1101px) and (max-width: 1175px) {
  #prof-bal {
    font-size: 0.9375rem;
  }
  #prof-head {
    font-size: 0.9375rem;
  }
  .profile-details {
    font-size: 0.75rem;
  }
  #wal-bal {
    margin-block-start: 0em;
    margin-block-end: 0.67em;
    font-size: 1.5em;
  }
  .Layout {
    height: 100%;
    /* grid-template-rows: 60px; */
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  #prof-bal {
    font-size: 0.9375rem;
  }
  #prof-head {
    font-size: 0.9375rem;
  }
  .profile-details {
    font-size: 0.6875rem;
  }
}

/* @media only screen and (min-width: 1025px) and (max-width: 1130px) {
  .profile-details {
    padding: 5px 0 0 30px;
    line-height: 1.3;
    font-size: 0.75em;
  }
  #prof-head {
    font-weight: bold;
    font-size: 1.1em;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    line-height: 1;
  }
  #prof-bal {
    font-size: 1.1em;
    margin-block-start: 0.4em;
    margin-block-end: 0.5em;
    line-height: 1;
  }
   .Table {
    margin-bottom: -30px;
  } 
} */

@media only screen and (min-width: 1025px) and (max-width: 1092px) {
  .Table-header {
    margin-top: 25px;
  }
  .Table {
    margin-top: -35px;
  }
}

/* 769px until 1024px (medium screen) ----------- */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .Layout {
    height: 100%;
    /* grid-template-rows: 60px; */
  }
  .profile-details {
    padding: 5px 0 0 30px;
    line-height: 1.2;
    font-size: 0.6875rem;
  }
  #prof-head {
    font-weight: bold;
    font-size: 0.9375rem;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    line-height: 1;
  }
  #prof-bal {
    font-size: 0.9375rem;
    margin-block-start: 0.4em;
    margin-block-end: 0.5em;
    line-height: 1;
  }
  #donut {
    width: 130px;
    height: 100%;
  }
  .Profile {
    width: 250px;
  }
  #wal-bal {
    font-size: 1.4em;
  }

  .w-icon {
    width: 45px;
    margin-right: 15px;
  }
  #c-title {
    font-size: 0.75em;
    line-height: 1.5;
    margin-block-start: 0.5em;
    margin-block-end: 0.2em;
  }
  #c-subtitle {
    margin-block-start: 0.3em;
    margin-block-end: 0.2em;
    line-height: 1.3;
  }
  .Table-header {
    margin-bottom: -30px;
  }
  /* .Table {
    margin-top: 20px;
    height: 50vh;
  } */
}

/* 481px until 768px (small screen) ----------- */

@media only screen and (max-width: 768px) {
  .DashBG {
    height: 100%;
  }
  .Layout {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0 20px;
    padding-top: 10px;
    height: 100%;
  }
  .BoughtAssets {
    margin-top: 35px;
  }
  .Profile {
    display: none;
  }
  .LiveCharts-header {
    margin-top: -10px;
  }
  .LiveCharts {
    margin-top: -10px;
    height: 400px;
  }

  .Wallet {
    margin-top: 0px;
    flex-direction: row-reverse;
    justify-content: start;
    padding: 0px 0 0px 10px;
  }
  .w-icon {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 15px;
  }
  .w-value {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    line-height: 0.9;
    font-size: 0.875rem;
    padding: 5px 0 0 10px;
  }
  #wal-bal {
    font-size: 1.5rem;
    margin-block-start: 0em;
    margin-block-end: 0.67em;
  }
  .Chart {
    padding: 0px 0 20px 30px;
    height: 100%;
  }
  .c-mid {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  #donut {
    width: 11.25rem;
    height: 100%;
  }
  .c-bot {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 0.75rem;
    line-height: 3;
    padding: 10px 0 0 10px;
  }
  #c-title {
    font-size: 0.875em;
    line-height: 1.4;
    margin-block-start: 0.5em;
    margin-block-end: 0.2em;
  }
  #c-subtitle {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    line-height: 1.3;
    padding-bottom: 10px;
  }
  .Table-header {
    padding: 0px;
    font-size: 1rem;
    margin-top: -10px;
  }
  /* .Table {
    grid-row: 9;
    margin-top: 20px;
    height: 100vh;
  } */
}

@media only screen and (max-width: 420px) {
  #donut {
    width: 10rem;
    height: 100%;
  }
  #c-title {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 375px) {
  #donut {
    width: 8rem;
    height: 100%;
  }
  #wal-bal {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 320px) {
  #donut {
    width: 7rem;
    height: 100%;
  }
}
