#card-text {
  padding-top: 10px;
  padding-inline-start: 0px;
  line-height: 1;
  margin: 0;
}

.card-col {
  float: left;
  font-size: 12px;
  line-height: 0.5;
  color: #a3a3a3;
  padding-left: 20px;
  background-color: #2d2c56;
}
.card-col-l {
  width: 50%;
  box-sizing: border-box;
}

.card-col-r {
  width: 50%;
  box-sizing: border-box;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}
