.line-chart-container {
  width: 63vw;
}

.line-dash {
  max-height: 400px;
  /* max-width: 100vw; */
  min-width: 63vw;
}

@media only screen and (max-width: 1300px) {
  .line-dash {
    min-height: 400px;
  }
}
