@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Red+Hat+Display&display=swap");
/* 
font-family: 'Red Hat Display', sans-serif;
*/

.homebarlogo {
  width: 75%;
  padding-left: 20px;
}

.navbar {
  background-color: #1f1f1f;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 100vw;
}

.nav-list {
  font-family: "Red Hat Display", sans-serif;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.nav-list > a,
.login-signup > a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  padding: 0 20px;
}

.nav-list > a:hover,
.login-signup > a:hover {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.login-signup {
  display: flex;
  flex-direction: row;
}

.signup-btn {
  background-color: #498e2c;
  padding: 2px 20px;
  border: solid 1px #498e2c;
  border-radius: 5px;
}

.signup-btn:hover {
  font-weight: 400;
  background-color: #3d7725;
  border: solid 1px #3d7725;
}

.divider {
  height: 2rem;
  border-left: 2px solid white;
}
