@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Red+Hat+Display&display=swap");
/* 
font-family: 'Red Hat Display', sans-serif;
*/

.homebarlogo {
  width: 75%;
  padding-left: 20px;
}

/* min-width at 1243px */
.navbar {
  background-color: #1f1f1f;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 100%;
  z-index: 1;
}

.nav-list {
  font-family: "Red Hat Display", sans-serif;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin-right: 20px;
}

.nav-list > a,
.login-signup > a {
  text-decoration: none;
  color: white;
  font-size: 19px;
}

.nav-list > a:hover,
.login-signup > a:hover {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.login-signup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-btn {
  padding-right: 20px;
}

.signup-btn {
  background-color: #498e2c;
  padding: 2px 20px;
  border: solid 1px #498e2c;
  border-radius: 50px;
}

.signup-btn:hover {
  font-weight: 400;
  background-color: #3d7725;
  border: solid 1px #3d7725;
}

/* responsive for screen width lower than 1240px */
@media only screen and (max-width: 1240px) {
  .navbar {
    width: 100%;
    align-items: center;
  }
}

/* responsive for screen width lower than 710px */
@media only screen and (max-width: 710px) {
  .homebarlogo {
    padding-left: 15px;
    width: 55%;
  }

  .nav-list {
    width: 65%;
  }

  .nav-list > a,
  .login-signup > a {
    font-size: 16px;
  }
}

/* responsive for screen width lower than 663px */
@media only screen and (max-width: 663px) {
  .homebarlogo {
    padding-left: 10px;
    width: 65%;
  }

  .navbar {
    padding: 7px 10px;
  }

  .login-signup {
    align-items: center;
  }

  .nav-list > a,
  .login-signup > a {
    font-size: 13px;
    padding: 2px 5px;
  }

  .signup-btn {
    padding: 2px 10px;
    text-align: center;
    white-space: nowrap;
  }
}

/* responsive for screen width lower than 330px */
@media only screen and (max-width: 412px) {
  .navbar {
    padding: 5px;
  }

  .login-signup {
    align-items: center;
  }

  .nav-list > a,
  .login-signup > a {
    font-size: 12px;
    padding: 5px;
  }

  .signup-btn {
    padding: 2px 10px;
    text-align: center;
  }
}

@media only screen and (max-width: 330) {
  .navbar {
    padding: 5px;
  }

  .login-signup {
    align-items: center;
  }

  .nav-list > a,
  .login-signup > a {
    font-size: 12px;
    padding: 5px;
  }

  .signup-btn {
    padding: 2px 10px;
    text-align: center;
  }
}
