.sidebar {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #373737;
  box-shadow: 2px 0px 4px rgba(255, 255, 255, 0.19);
  overflow-x: hidden;
  padding-top: 16px;
  border-radius: 0 10px 10px 0;
}

#DP {
  width: 45px;
  padding: 5px 0 5px 0;
  margin-left: 3px;
}

#Market {
  width: 35px;
  padding: 5px 0 5px 0;
  margin-left: 5px;
}

#Dashboard {
  width: 35px;
  padding: 5px 0 5px 0;
  margin-left: 5px;
}

#Logout {
  width: 35px;
  padding: 5px 0 5px 0;
  margin-left: 5px;
}

#logo {
  width: 70px;
  margin-left: -10px;
}

.tip {
  transform: scale(1.5);
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 0 6px 5px;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Style the main content */
/* .main {
  margin-left: 160px; /* Same as the width of the sidenav */
/* padding: 0px 10px;
} */
