@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
/* 
font-family: 'IBM Plex Sans', sans-serif;
*/

.login {
  background-color: #1f1f1f;
  background-image: url("./../../assets/Waves/wave_dark.svg");
  background-position: bottom;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 141px);
}

.inner-container {
  width: 60%;
  max-width: 515px;
}

.login-main-title {
  font-size: 24px;
  margin-top: 126px;
}

.login-sub-title {
  font-size: 16px;
  margin: 19px 0 4px 0;
}

.login-input-title {
  font-size: 20px;
  margin: 20px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-input {
  background-color: transparent;
  border-radius: 10px;
  border: solid 1px #979797;
  height: 48px;
  width: 515px;
  font-size: 16px;
  padding: 0 24px;
  box-sizing: border-box;
}

.login-input::placeholder {
  color: #979797;
  font-size: 16px;
  padding: 0;
}

.login-button {
  background-color: #498e2c;
  height: 60px;
  width: 515px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 18px;
  margin: 20px 0 10px 0;
}

.login-button:hover {
  background-color: #237500;
}

.links {
  color: #7ed957;
  text-decoration: none;
}

.links:hover {
  font-weight: bold;
}

.err {
  font-size: 14px;
  color: red;
  margin: 15px 0 4px 0;
}

.error-message {
  font-size: 11px;
  display: flex;
  align-items: flex-end;
  color: red;
}

/* Responsive Design */
/* Laptops & Small Screens ----------- */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .login-input,
  .login-button {
    width: 100%;
  }

  .login-main-title {
    margin-top: 10px;
  }
}

/* Ipads & Tablets ----------- */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .login-input {
    width: 100%;
  }

  .login-main-title {
    margin-top: 70px;
  }

  .login-input-title {
    font-size: 16px;
  }

  .login-button {
    width: 100%;
    height: 50px;
  }
}

/* Mobile Devices ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .login-input {
    width: 100%;
  }

  .login-main-title {
    margin-top: 10px;
    font-size: 20px;
  }

  .login-sub-title {
    font-size: 14px;
  }

  .login-input-title {
    font-size: 16px;
  }

  .login-button {
    width: 100%;
    height: 50px;
  }
}
