.nav-bar {
  background-color: black;
  align-items: center;
  padding: 15px;
}

.form-container {
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.login-form {
  /* display: inline-block; */
  align-items: center;
  height: 50vh;
  width: 80%;
  align-items: center;
  position: relative;
  padding: 2px 15px;
  position: relative;
  margin: auto;
  background-color: aqua;
  /* justify-content: center; */
}

.title {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  margin-right: 33vh;
  align-items: center;
}

.welcome-msg {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
  margin-right: 40vh;
  align-items: center;
}

.email-label,
.password-label,
.register-link {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 50vh;
}

.login-button {
  background-color: green;
  color: white;
  width: 515px;
  height: 60px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  margin: 15px;
  align-items: center;
  vertical-align: middle;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  margin: 15px;
  align-items: center;
  vertical-align: middle;
  width: 515px;
  border: 1px solid #979797;
  box-sizing: border-box;
  border-radius: 3px;
}

.login-button:hover {
  background-color: greenyellow;
  cursor: pointer;
}
